Language: Cpp

# Run 'clang-format -style=google -dump-config > .clang-format' to see defaults
BasedOnStyle: Google

# Override the (google style) values for the following options
AccessModifierOffset: -2
AlignOperands: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: MultiLine
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
EmptyLineBeforeAccessModifier: Never
IndentCaseLabels: false
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 1
